<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Admin Log In</title>
        <link rel="stylesheet" href="{{ url_for('static', filename= 'admin.css') }}">
    </head>
<body>
    <main class="login-page">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          <div class="mt-3" style="max-width:500px; margin: 0 auto;">
            {% for category, message in messages %}
              <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
            {% endfor %}
          </div>
        {% endif %}
        {% endwith %}
        <div class="outlined-box">
          <h1>Login</h1>
        <form action="{{url_for('login')}}" method="POST">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required><br>
            <br>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required><br>
        
            <button class="btn btn-primary my-3" type="submit">Log In</button>
        </form>
        <a class="btn btn-secondary my-3" href="{{url_for('clubslist')}}">Back to Clubs</a>
    </div>
      </main>
</body>
</html>